<main class="centralising-wrapper">
    <a href="/">
        <img src="/images/keystone-logo.png" alt="Keystone Logo" class="site-logo" />
    </a>
    <h1>Keystone Passkeys</h1>

    <section>
        <p class="site-intro">
            This app demonstrates how to implement a password-less login flow with passkeys (webauthn).
        </p>

        <div class="auth-options">
            <a href="/login" class="button-link">Login</a>
            <a href="/register" class="button-link">Register</a>
        </div>
    </section>
</main>
